/*Navigation*/
div .navRecords {
    float: left;
}

div .navPage {
    float: right;
}

div #nav-wrapper {
    clear: both;
    padding-top: 6px;
    padding-bottom: 25px;
    padding-left: 2px;
}

#buttontop_mod {
    float: left;
    width: 100%;
    background: #EBEFFC;
    font-size: 93%;
    line-height: normal;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0;
}

#buttonbar_mod {
    float: left;
    width: 100%;
    background: #EBEFFC url(images/menu/bg.gif) repeat-x left bottom;
    font-size: 93%;
    line-height: normal;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-bottom: 12px;
}

#buttonbar_mod ul {
    margin: 0;
    padding: 0 5px 0;
    list-style: none;
}

#buttonbar_mod li {
    display: inline;
    margin: 0;
    padding: 0;
}

#buttonbar_mod a {
    float: left;
    background: url(images/menu/left_both.gif) no-repeat left top;
    margin: 0;
    padding: 0 0 0 9px;
    border-bottom: 1px solid #000;
    text-decoration: none;
    margin: 0;
    padding: 0 0 0 9px;
    border-bottom: 1px solid #000;
    text-decoration: none;
}

#buttonbar_mod a span {
    float: left;
    display: block;
    background: url(images/menu/right_both.gif) no-repeat right top;
    padding: 5px 15px 4px 6px;
    font-weight: normal;
    color: #765;
    font-size: 93%;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#buttonbar_mod a span {
    float: none;
}

/* End IE5-Mac hack */
#buttonbar_mod a:hover span {
    color: #333;
}

#buttonbar_mod #current a {
    background-position: 0 -150px;
    border-width: 0;
}

#buttonbar_mod #current a span {
    background-position: 100% -150px;
    padding-bottom: 5px;
    color: #333;
}

#buttonbar_mod a:hover {
    background-position: 0 -150px;
}

#buttonbar_mod a:hover span {
    background-position: 100% -150px;
}

div .menu_module_header {
    color: navy;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 10px;
}

div .menu_header {
    color: navy;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
}

div .menu_subheader {
    color: navy;
    font-size: 100%;
    margin-bottom: 10px;
}

div .menu_links {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    color: #708090;
    font-size: 80%;
}

div .menu_icons {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.emptylist {
    text-align: center;
    background-color: #dee3e7;
    font-weight: bold;
    padding: 5px;
}

div.confirmMsg {
    color: #776655;
    text-align: center;
    border: 1px solid #708090;
    background: #EBEFFC;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 11px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div.confirmButtons {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 20px;
}

.wfbutton {
    margin-bottom: 6px;
    margin-top: 6px;
    text-align: right;
    float: right;
}
